@model IEnumerable<Flow.Models.Plant>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1 class="display-4">Registered Plants</h1>

<div class="flex-column">
    <form>
        <button class="btn btn-dark btn-lg btn-block" asp-action="Create">Add a Plant</button>
    </form>
</div>
<div class="card-columns py-3">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">
                </p>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
