@model IEnumerable<Flow.Models.UnitType>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Unit Management</h1>

<table class="table table-striped table-bordered shadow-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-sm btn-dark" asp-action="Create">Create New</a>
</p>

