@model Flow.ViewModels.FlowIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="~/js/charts.js"></script>

<h1 class="display-4">Flow Insights</h1>
<div class="d-flex bd-highlight">
    <div class="p-2">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <a class="btn btn-block btn-outline-secondary" asp-controller="Departments" style="color: white;">
                    Active Departments
                </a>
                <h2 class="text-right pt-2"><i class="fa fa-industry f-left"></i><span>@Model.ActiveDepartments</span></h2>
                <a class="btn btn-small btn-block btn-outline-secondary" asp-controller="Workstations" style="color: white;">
                    Active Workstations
                </a>
                <h2 class="text-right pt-2"><i class="fa fa-desktop f-left"></i><span>@Model.ActiveWorkstations</span></h2>
            </div>
                <div class="pl-3" id="barchart-div" style="width: 400px">
                </div>
        </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <a class="btn btn-small btn-outline-secondary btn-block" asp-controller="Employees" style="color: white;">
                    Active Employees
                </a>
                <h2 class="text-right pt-2"><i class="fa fa-users f-left"></i><span>@Model.ActiveEmployees</span></h2>
                <h6 class="m-b-20">Supervisors</h6>
                <h2 class="text-right"><i class="fa fa-user-edit f-left"></i><span>@Model.ActiveSupervisors</span></h2>
                <h6 class="m-b-20">Engineers</h6>
                <h2 class="text-right"><i class="fa fa-user-cog f-left"></i><span>@Model.ActiveEngineers</span></h2>
                <h6 class="m-b-20">Operators</h6>
                <h2 class="text-right"><i class="fa fa-chalkboard-teacher f-left"></i><span>@Model.ActiveOperators</span></h2>
            </div>
        </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <a class="btn btn-small btn-outline-secondary btn-block" asp-controller="UnitTypes" style="color: white;">
                    Unit Types
                </a>
                <h2 class="text-right pt-2"><i class="fa fa-cart-plus f-left"></i><span>@Model.UnitTypes</span></h2>
                <p class="m-b-0"><span class="f-right">351</span></p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-3">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block p-0">
            </div>
        </div>
    </div>
    <div class="p-2 flex-grow-3">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block">
                <div id="speedometer"></div>
            </div>
        </div>
    </div>

    <div class="p-2 flex-grow-3">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block">
                <div id="piechart-div">

                </div>
            </div>
        </div>
    </div>

    <div class="p-2 flex-grow-3">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block">
            </div>
        </div>
    </div>
    <div class="p-2 flex-grow-3">
    </div>
</div>


