@model Flow.ViewModels.FlowIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Flow Insights</h1>
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <a asp-controller="Departments" style="color: white;">
                <h6 class="m-b-20">Active Departments</h6>
                </a>
                <h2 class="text-right"><i class="fa fa-industry f-left"></i><span>@Model.ActiveDepartments</span></h2>
                <h6 class="m-b-20">Active Workstations</h6>
                <h2 class="text-right"><i class="fa fa-desktop f-left"></i><span>@Model.ActiveWorkstations</span></h2>
            </div>
        </div> 
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <h6 class="m-b-20">Active Employees</h6>
                <h2 class="text-right"><i class="fa fa-users f-left"></i><span>@Model.ActiveEmployees</span></h2>
                <h6 class="m-b-20">Supervisors</h6>
                <h2 class="text-right"><i class="fa fa-user-edit f-left"></i><span>@Model.ActiveSupervisors</span></h2>
                <h6 class="m-b-20">Engineers</h6>
                <h2 class="text-right"><i class="fa fa-user-cog f-left"></i><span>@Model.ActiveEngineers</span></h2>
                <h6 class="m-b-20">Operators</h6>
                <h2 class="text-right"><i class="fa fa-chalkboard-teacher f-left"></i><span>@Model.ActiveOperators</span></h2>
            </div>
        </div> 
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div class="dash-card bg-c-dark order-dash-card">
            <div class="dash-card-block">
                <h6 class="m-b-20">Units Completed</h6>
                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>@Model.ActiveEmployees</span></h2>
                <p class="m-b-0"><span class="f-right">351</span></p>
            </div>
        </div> 
    </div>
</div>

<div class="d-flex">
    <div class="p-2 flex-grow-1">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block">
                <div id="line" style="height: 100%" ; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="p-2 flex-grow-3">
        <div class="dash-card bg-c-dark">
            <div class="dash-card-block">
                <div id="speedometer"></div>
            </div>
        </div>
    </div>
    <div class="p-2 flex-grow-3">
            </div>
</div>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['gauge'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Efficiency', 80]
            ]);

            var options = {
                redFrom: 0, redTo: 50,
                yellowFrom: 50, yellowTo: 75,
                greenFrom: 75, greenTo: 100,
                minorTicks: 10,
                backgroundColor: 'transparent',
            };

            var chart = new google.visualization.Gauge(document.getElementById('speedometer'));

            chart.draw(data, options);

            setInterval(function () {
                data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
                chart.draw(data, options);
            }, 13000);
        }
    </script>
    <script type="text/javascript">

        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawCurveTypes);

        function drawCurveTypes() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');
            data.addColumn('number', 'Cats');

            data.addRows([
                [0, 0, 0], [1, 10, 5], [2, 23, 15], [3, 17, 9], [4, 18, 10], [5, 9, 5],
                [6, 11, 3], [7, 27, 19], [8, 33, 25], [9, 40, 32], [10, 32, 24], [11, 35, 27],
                [12, 30, 22], [13, 40, 32], [14, 42, 34], [15, 47, 39], [16, 44, 36], [17, 48, 40],
                [18, 52, 44], [19, 54, 46], [20, 42, 34], [21, 55, 47], [22, 56, 48], [23, 57, 49],
                [24, 60, 52], [25, 50, 42], [26, 52, 44], [27, 51, 43], [28, 49, 41], [29, 53, 45],
                [30, 55, 47], [31, 60, 52], [32, 61, 53], [33, 59, 51], [34, 62, 54], [35, 65, 57],
                [36, 62, 54], [37, 58, 50], [38, 55, 47], [39, 61, 53], [40, 64, 56], [41, 65, 57],
                [42, 63, 55], [43, 66, 58], [44, 67, 59], [45, 69, 61], [46, 69, 61], [47, 70, 62],
                [48, 72, 64], [49, 68, 60], [50, 66, 58], [51, 65, 57], [52, 67, 59], [53, 70, 62],
                [54, 71, 63], [55, 72, 64], [56, 73, 65], [57, 75, 67], [58, 70, 62], [59, 68, 60],
                [60, 64, 56], [61, 60, 52], [62, 65, 57], [63, 67, 59], [64, 68, 60], [65, 69, 61],
                [66, 70, 62], [67, 72, 64], [68, 75, 67], [69, 80, 72]
            ]);

            var options = {
                hAxis: {
                    textStyle: { color: '#FFF' },
                    title: 'Time',
                },
                vAxis: {
                    textStyle: {color: '#FFF'},
                    title: 'Popularity'
                },
                series: {
                    1: { curveType: 'function' }
                },
                backgroundColor : 'transparent'
            };

            var chart = new google.visualization.LineChart(document.getElementById('line'));
            chart.draw(data, options);
        }
    </script>
</head>

